@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Milchella';
  src: url('/fonts/Milchella-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-plafair: var(--font-plafair);
  --font-barlow: var(--font-barlow);
  --font-montserrat__alternates: var(--font-montserrat__alternates);
  --font-milchella: 'Milchella', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-menubackground: var(--menubackground);
  --color-menuprimary: var(--menuprimary);
  --color-menuprimary-foreground: var(--menuprimaryforeground);
  --color-menuforeground: var(--menuforeground);
  --color-menusecondary: var(--menusecondary);
  --color-menusecondary-foreground: var(--menusecondaryforeground);
  --color-buttonhover: var(--buttonhover);
  --color-itembackground: var(--itembackground);
  --color-itemdescription: var(--itemdescription);
  --color-itembutton: var(--itembutton);
  --color-buttondisabled: var(--buttondisabled);
  --color-mobilebg: var(--mobilebg);
  --color-menuwhite: var(--menuwhite);
  --color-borderinput: var(--borderinput);
  --color-tabbg: var(--tabbg);
  --color-inputbg: var(--inputbg);
  --color-placeholder: var(--placeholder);
  /* Table Booking colors */
  --color-tableBooking-background: var(--table-booking-background);
  --color-tableBooking-foreground: var(--table-booking-foreground);
  --color-tableBooking-placeholder: var(--table-booking-placeholder);
  --color-tableBooking-border-primary: var(--table-booking-border-primary);
  --color-tableBooking-primary: var(--table-booking-primary);
  --color-tableBooking-primary-foreground: var(
    --table-booking-primary-foreground
  );
  --color-tableBooking-primary-border: var(--table-booking-primary-border);
  --color-tableBooking-secondary: var(--table-booking-secondary);
  --color-tableBooking-secondary-foreground: var(
    --table-booking-secondary-foreground
  );
  --color-tableBooking-secondary-focus: var(--table-booking-secondary-focus);
  --color-tableBooking-secondary-border: var(--table-booking-secondary-border);
  /* Table Booking colors */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* online-order */
  --color-onlineOrder-activeCategory-bg: var(--online-order-active-category-bg);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  /* online order menu  */
  --online-order-background: 0, 0%, 100%;
  --online-order-foreground: 0, 0%, 0%;
  --online-order-placeholder: 0, 0%, 90%;
  --online-order-border-primary: 0, 0%, 83%;
  --online-order-primary: 0, 0%, 0%;
  --online-order-primary-text: 0, 0%, 0%;

  --online-order-primary-foreground: 0, 0%, 100%;
  --online-order-primary-border: 240, 100%, 25%;
  --online-order-secondary: 0, 0%, 98%;
  --online-order-secondary-foreground: 50, 60%, 30%;
  --online-order-tertiary: 0, 0%, 38%;
  --online-order-tile-background: 0, 0%, 100%;
  --online-order-tile-foreground: 0, 0%, 0%;
  --online-order-tile-border: 0, 0%, 79%;
  --online-order-tile-border-secondary: 0, 0%, 90%;
  --online-order-tile-description-foreground: 0, 0%, 45%;
  --online-order-secondary-border: 220, 14%, 96%;
  --online-order-secondary-text: 220, 9%, 46%;
  --online-order-tertiary-border: 220, 13%, 84%;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

.theme-custom {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(12.24% 0 0);
  --card-foreground: oklch(77.17% 0.024 79.93);
  --popover: oklch(12.24% 0 0);
  --popover-foreground: oklch(77.17% 0.024 79.93);
  --primary: oklch(65.49% 0.068 72.39);
  --primary-foreground: oklch(12.24% 0 0);
  --secondary: oklch(92.41% 0.089 78.73);
  --secondary-foreground: oklch(12.24% 0 0);
  --muted: oklch(85.69% 0 0);
  --muted-foreground: oklch(77.17% 0.024 79.93);
  --accent: oklch(92.41% 0.089 78.73);
  --accent-foreground: oklch(12.24% 0 0);
  --destructive: oklch(38.12% 0.125 29.23);
  --destructive-foreground: oklch(22.17% 0.015 79.93);
  --border: oklch(67.82% 0 0);
  --input: oklch(85.69% 0 0);
  --ring: oklch(86.51% 0.084 78.73);

  --online-order-background: 0, 0%, 100%;
  --online-order-foreground: 0, 0%, 0%;
  --online-order-placeholder: 0, 0%, 90%;
  --online-order-border-primary: 0, 0%, 83%;
  --online-order-primary: 57, 100%, 96%;
  --online-order-primary-text: 0, 0%, 0%;

  --online-order-primary-foreground: 0, 0%, 100%;
  --online-order-primary-border: 240, 100%, 25%;
  --online-order-secondary: 0, 0%, 98%;
  --online-order-secondary-foreground: 50, 60%, 30%;
  --online-order-tertiary: 0, 0%, 38%;
  --online-order-tile-background: 0, 0%, 100%;
  --online-order-tile-foreground: 0, 0%, 0%;
  --online-order-tile-border: 0, 0%, 79%;
  --online-order-tile-border-secondary: 0, 0%, 90%;
  --online-order-tile-description-foreground: 0, 0%, 45%;
  --online-order-secondary-border: 220, 14%, 96%;
  --online-order-secondary-text: 220, 9%, 46%;
  --online-order-tertiary-border: 220, 13%, 84%;
  --online-order-active-category-bg: hsl(0, 0%, 0%);

  /* menu Checkout Start */

  --menubackground: oklch(12.24% 0 0);
  --menuforeground: oklch(0% 0 0);
  --menuprimary: oklch(70.33% 0.133 75.85);
  --menusecondary: oklch(92.52% 0 0);
  --buttonhover: oklch(57.82% 0.099 75.85);
  --itembackground: oklch(21.26% 0 0);
  --menuprimaryforeground: oklch(96.11% 0.048 78.16);
  --menusecondaryforeground: oklch(29.81% 0 0);
  --itemdescription: oklch(55.68% 0.003 264.05);
  --itembutton: oklch(70.33% 0.133 75.85);
  --buttondisabled: oklch(38.42% 0 0);
  --mobilebg: oklch(12.24% 0 0);
  --menuwhite: oklch(100% 0 0);
  --borderinput: oklch(62.53% 0 0);
  --tabbg: oklch(90.69% 0 0);
  --inputbg: oklch(28.89% 0.003 142.49);
  --placeholder: oklch(91.59% 0 0);

  /* table booking menu */
  --table-booking-background: oklch(1 0 0);
  --table-booking-foreground: oklch(0 0 0);
  --table-booking-placeholder: oklch(0.34 0.09 3);
  --table-booking-border-primary: oklch(0.83 0 0);
  --table-booking-primary: oklch(0 0 0);
  --table-booking-primary-foreground: oklch(1 0 0);
  --table-booking-primary-border: oklch(0 0 0);
  --table-booking-secondary: oklch(0.98 0 0);
  --table-booking-secondary-foreground: oklch(0 0 0);
  --table-booking-secondary-focus: oklch(0.9 0 0);
  --table-booking-secondary-border: oklch(0.25 0 0);
}

@theme {
  --color-onlineOrder-background: hsl(var(--online-order-background));
  --color-onlineOrder-foreground: hsl(var(--online-order-foreground));
  --color-onlineOrder-placeholder: hsl(var(--online-order-placeholder));
  /* --color-onlineOrder-active-category-bg: hsl(var(--
  )); */

  /* Primary colors */
  --color-onlineOrder-primary: hsl(var(--online-order-primary));
  --color-onlineOrder-primary-foreground: hsl(
    var(--online-order-primary-foreground)
  );
  --color-onlineOrder-primary-border: hsl(var(--online-order-primary-border));
  --color-onlineOrder-primary-text: hsl(var(--online-order-primary-text));

  /* Secondary colors */
  --color-onlineOrder-secondary: hsl(var(--online-order-secondary));
  --color-onlineOrder-secondary-foreground: hsl(
    var(--online-order-secondary-foreground)
  );
  --color-onlineOrder-secondary-border: hsl(
    var(--online-order-secondary-border)
  );
  --color-onlineOrder-secondary-text: hsl(var(--online-order-secondary-text));

  /* Tertiary colors */
  --color-onlineOrder-tertiary-border: hsl(var(--online-order-tertiary-border));

  /* Tile colors */
  --color-onlineOrder-tile-background: hsl(var(--online-order-tile-background));
  --color-onlineOrder-tile-foreground: hsl(var(--online-order-tile-foreground));
  --color-onlineOrder-tile-border: hsl(var(--online-order-tile-border));
  --color-onlineOrder-tile-border-secondary: hsl(
    var(--online-order-tile-border-secondary)
  );
  --color-onlineOrder-tile-description-foreground: hsl(
    var(--online-order-tile-description-foreground)
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
